body{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

h2{
    font-size: 48px;
    margin-bottom: 30px;
}

p{
    font-size: 18px;
    color: white;
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover{
    text-decoration: none;
}

a .iconos{
    font-size: 20px;
    color: white;
}

section{
    padding: 120px 0;
}

.bg-ligth-grey{
    background-color: rgb(238, 235, 235);
}

.topmargin-xs{
    margin-top: 15px;
}

.topmargin-sm{
    margin-top: 30px;
}

.topmargin-lg{
    margin-top: 60px;
}

.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-ligth{
    background-color: white;
    color: black;
    border: 2px solid peachpuff;
}

.btn{
    font-size: 14px;
    margin-left: 5px;
}

a .btnicon{
    font-size: 20px;
    margin-left: 5px;
    color:black;
}

.navbar{
    background-color: rgb(240, 255, 217);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05) ;
    min-height: 100px;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: #123131;
}

.Logo{
    min-width: 140px;
    max-width: 200px;
}

.navbar-toggler{
    font-size: 40px;
}

.navbar-toggler:focus{
    outline: none;
}

#hero{
    background-image: url("Imagenes/hacker-world.jpg");
    background-size: cover;
    padding-top: 200px;
    min-height: 600px;
    color: blanchedalmond;
}

#hero p{
    color: white;
}

.content-center p{
    color: rgb(70, 66, 66);
}

.content-center{
    max-width: 900px;
    margin: 0 auto 40px auto;
    text-align: center;
}

.portfolio-container{
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin: 10px 0px;
    border-radius: 2px;
}

.portfolio-container img{  
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 750px;
    height: 400px;
    padding: 10px;
    border: 2px solid lightsteelblue;
    object-fit: cover;
}

.portfolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.member-container img{
    width: 420px;
    height: 280px;
    padding: 10px;
    border: 1px solid lightsteelblue;
    object-fit: cover;
}

.portfolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portfolio-details h2{
    margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p{
    color: white;
}

.text-dark{
    color: black;
}

.text-center p{
    color: black;
}

.member-container{
    position: relative;
    margin: 5px 0;
}

.member-details{
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0px;
    left: 2px;
    margin-left: 8px;
}

.member-details span{
    font-size: 15px;
    margin-left: 8px;
}

.member-details a .iconos{
    padding: 0 5px;
}


@media (max-width: 575.98px) {
    h1{
        font-size: 40px;
        line-height: normal;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { ... }
@media (min-width: 768px) and (max-width: 991.98px) { ... }
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
@media (min-width: 1200px) { ... }